* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
  }
  